<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /~ai23
  RewriteRule ^~ai23/index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /~ai23/index.html [L]
</IfModule>